nav{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
}
.navbar{
    color: white;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    border-radius: 70px;
    width: 90vw;
    background-image: linear-gradient(to right, rgba(145, 30, 105, 0.818),rgba(2, 15, 157, 0.452));
}
.navbar li{
    list-style: none;
    display: inline;
    padding: 10px;
    
}
#name{
    font-size: 22px;
    text-align: center;
    width: 60%;
    /* border: 2px solid blue; */
}
#nav-list{
    font-size: 22px;
    text-align: center;
    width: 30%;
    
}
#nav-list a{
    text-decoration: none;
    color: white;
}
#nav-list a:hover{
    /* text-shadow: 2px 2px 0 0 rgba(45, 11, 112, 0.452); */
    box-shadow: 2px 0 5px 5px rgba(208, 204, 215, 0.452);
    border-radius: 40px;
}
body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.box{
    height: 500px;
    width: 900px;
    font-size: larger;
    color: white;
    background-color: rgba(45, 11, 112, 0.918);
    background-image: linear-gradient(to right, rgba(126, 40, 97, 0.818),rgba(104, 75, 161, 0.452));
    box-shadow: 0 2px 15px 2px whitesmoke;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
}
.box p,h1,ul{
    width: 800px;
}
.cont{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: larger;
    text-decoration: none;   
}
.cont a{
    color: white;
}
.cont ul{
    list-style: none;
}
.cont ul li{
    padding: 10px;
}
.sec{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    /* width: 90vw; */
    opacity: 0.8;
    /* background-color: whitesmoke; */
    border-radius: 50px;
    width: 75vw;
    
}
.back{
    display: flex;
    justify-content: center;
    height: 700px;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    /* display: inline-block; */
    flex-direction: row;
    /* border: 2px solid red; */
    /* justify-content: center; */
    width: 90vw;
}
.image{
    width: 25%;
    /* border: 2px solid red; */
    height: 400px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.description{
    font-weight: bold;
    font-size: large;
    color: white;
    width: 60%;
    /* height: 500px; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to right, rgba(161, 32, 116, 0.818),rgba(2, 15, 157, 0.452));
    /* background-color: whitesmoke; */
    /* text-align: center; */
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 5px 5px 2px white;
    position: absolute;
    z-index: -1;
    left: 300px;
}
.description h1,p{
    width: 500px;
    /* text-align: center; */
}
#mainimage{
    border-radius: 160px;
    height: 220px;
    width: 220px;
    /* margin: 0 auto; */
    /* border: 2px solid red; */
    box-shadow: 0 5px 5px 2px white;

}
.project{
    margin-top: 50px;
    color: white;
    background-color: rgba(45, 11, 112, 0.918);
    background-image: linear-gradient(to right, rgba(126, 40, 97, 0.818),rgba(104, 75, 161, 0.452));
    box-shadow: 0 2px 15px 2px whitesmoke;
    border-radius: 30px;
    padding-left: 10px;
}